.card-img-top {
  height: 220px;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center center !important;
}

.container {
  margin-top: 50px;
}
.thumbnail {
  margin-top: 20px
}

.caption {
  margin-top: 5px
}
p {
  margin-bottom: 0px;
  font-size: 15px;
  color: #808080
}
.primary {
  color: #696969
}
.right {
  float: right
}
ngb-rating{
  color: #579ed1;
  font-size: 13px
}
.card {
  cursor: pointer;
}

.sebm-google-map-container {
  height: 300px;
  max-width: 280px;
}

.no-products {
  font-size: 2em;
  font-weight: 600;
  color: #000000;
}

