<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="well">
          <sebm-google-map class="sebm-google-map-container"
          [latitude]="latitude"
          [longitude]="longitude"
          [zoom]="zoom"
          [disableDefaultUI]="true"
          [zoomControl]="true"
          >
            <sebm-google-map-marker
            *ngFor="let m of markers; let i = index"
            (markerClick)="clickedMarker(m.productname, i)"
            [latitude]="m.lat"
            [longitude]="m.lng">
              <sebm-google-map-info-window>
                {{m.productname}}<br />
                ${{m.priceperday}} per day

              </sebm-google-map-info-window>
            </sebm-google-map-marker>
          </sebm-google-map>
        <br>
      <h3 align="center">Narrow by</h3>
        <form class="form-horizontal">
          <div class="form-group">
            <label for="category" class="control-label">Category</label>
            <select type="string" [(ngModel)]="searchCategoryId" class="form-control" name="category">
            <!--Category id's are currently hardcoded -->
              <option value="" name="any">Any</option>
              <option value="1" name="backpacking">Backpacking</option>
              <option value="2" name="bike">Bike</option>
              <option value="7" name="kayak">Kayak</option>
              <option value="5" name="ski">Ski</option>
              <option value="4" name="snowboard">Snowboard</option>
              <option value="6" name="sup">SUP</option>
              <option value="3" name="surf">Surf</option>
            </select>
          </div>
          <div class="form-group">
            <label for="pricefrom" class="control-label">Min Price</label>
            <div class="input-group">
              <div class="input-group-addon">$</div>
              <input type="text" class="form-control" id="pricefrom" name="pricefrom" [(ngModel)]="minPrice">
            </div>
          </div>
          <div class="form-group">
            <label for="priceto" class="control-label">Max Price</label>
            <div class="input-group">
              <div class="input-group-addon">$</div>
              <input type="text" class="form-control" id="priceto" name="priceto" [(ngModel)]="maxPrice">
            </div>
          </div>
          <div class="form-group">
            <label for="datefrom" class="control-label">From</label>
            <div class="input-group">
              <input class="form-control" placeholder="yyyy-mm-dd" name="available-from" [(ngModel)]="availableFrom"  ngbDatepicker #df="ngbDatepicker">
              <div class="input-group-addon" (click)="df.toggle()" >
                <i class="fa fa-calendar"></i>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="dateto" class="control-label">To</label>
            <div class="input-group">
              <input class="form-control" placeholder="yyyy-mm-dd" name="available-to" [(ngModel)]="availableTo" ngbDatepicker #dt="ngbDatepicker">
              <div class="input-group-addon" (click)="dt.toggle()" >
                <i class="fa fa-calendar"></i>
              </div>
            </div>
          </div>

          <p align="center"><button (click)="refineSearch()"><i class="fa fa-search fa-lg"></i></button></p>
        </form>
      </div>
    </div>

    <div class="col-md-9">
    <!--Displays error when no results match filter -->
      <div *ngIf="products.length === 0">
        <p class="no-products">Sorry, no products match your search!</p>
      </div>
      <div *ngFor="let row of products" class="row">
        <div *ngFor="let product of row" class="col-md-4">
          <div class="card" uiSref="productDetails" [uiParams]="{ productId: product.id }">
            <img class="card-img-top" [src]="product.url[0]" alt="image">
            <div class="card-block">
              <p class="right card-text"><strong>${{product.priceperday}}</strong> / day</p>
              <p class="primary card-text">{{product.productname}}</p>
              <p class="card-text">{{product.city}}, {{product.state}}</p>
              <ngb-rating  [(rate)]="product.averagerating"></ngb-rating>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>