/* Master Styles */

* {
  margin: 0;
  font-family: 'Raleway', serif;
}

html, body {
  height: 100%;
}

h1 {
  font-family: 'Fjalla One', sans-serif;
}
h2, h3, h4 {
  font-family: 'Fjalla One', sans-serif;
}
body {
  margin: 2em;
}
body, input[text], button {
  color: #888;
  font-family: Cambria, Georgia;
}
a {
  cursor: pointer;
  cursor: hand;
}
button {
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
}

/* Navigation link styles */
nav a {
  padding: 5px 10px;
  line-height: 30px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
}

nav a.active {
  color: #039be5;
}

.btn-primary {
  border: 1px solid #579ed1;
  background-color: transparent;
  color: #579ed1;
}

.btn-primary:hover {
  color: #fff;
  background-color: #579ed1;
  border: 1px solid #fff;
}

.pac-container {
  color: red;
  z-index: 100000;
}
