h3 {
  color: white;
  float: right;
  height: 40px;
}

/*.homeBanner {
  background-size: cover;
  height: 300px;
  padding-top: 200px;
}*/

.homeInfo {
  text-align: center;
  padding: 20px;
  color: #579ed1;
}

.carouselSlide {
  height: 50px;
}

.home-content {
  padding-bottom: 1em;
  margin-top: 20px;
}

.home-detail {
  padding: 0 1%;
  width: 80%;
  margin: 0 auto;
}

.icons {
  width: 25% !important;
  height: 25% !important;
}

.center {
  text-align: center;
}
.carousel {
  height: 500px;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center center !important;
}